@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@700& family=Poppins:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(55, 102, 153, 1);
  --secondary-color: rgba(0, 174, 255, 1);
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-fontsize: 36px;
  --secondary-fontsize: 18px;
  --content-fontsize: 16px;
  --Work-sans: "Work Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--Work-sans);
}

a {
  color: black;
  margin-right: 15px;
  font-family: var(--primary-font);
  font-weight: 500;
  transition: 0.5;
}

a:hover {
  color: var(--secondary-color);
}
button {
  outline: none;
  border: none;
  font-family: var(--secondary-font);
  padding: 15px;
  color: white;
  border-radius: 10px;
  font-size: var(--content-fontsize);
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.header-links .active {
  border-radius: 30px;
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  padding: 12px 35px;
  font-size: var(--content-fontsize);
  color: white;
  font-weight: 700px;
}

.active:hover {
  color: var(--secondary-color);
  background: white;
  border: 1px solid var(--secondary-color);
}

.wealth {
  display: none;
}

#header-img {
  width: 60%;
}

.Img-class {
  /* flex: 1; */
  margin-right: 175px;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 24px 20px 20px 85px;
  align-items: center;
  position: sticky;
  top: 0px;
  background: white;
}

main {
  overflow: hidden;
}

#main-img {
  width: 100vw;
}

article {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  box-shadow: 1px 1px 3px grey;
}

.article-content {
  flex-basis: 35%;
}

.article-content small {
  text-align: justify;
  margin-top: 30px;
  display: block;
  width: 75%;
  font-family: var(--primary-font);
  letter-spacing: 0.02rem;
}

.article-content h1 {
  margin-top: 50px;
  width: 75%;
  font-size: 30px;
  color: var(--primary-color);
}
.article-content h6 {
  margin-top: 100px;
  font-size: medium;
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  overflow: hidden;
  margin: 30px 0px;
}
/* .article-img{

} */

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 75%;
  text-align: center;

  box-shadow: 0px 1px 6px grey;
}

.partners small {
  margin-top: 23px;
  font-family: var(--primary-font);
}

.partners h2 {
  margin-top: 30px;
}
.partners-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin: 40px 0px;
}
.contact-Details {
  width: 45%;
  line-height: 25.5px;
}

.contact-Details3 {
  display: grid;
  grid-template-columns: auto auto;
}

footer {
  padding: 20px 20px 20px 60px;
  background-color: var(--primary-color);
  color: white;

  font-family: var(--primary-font);
  font-size: 14px;
}

#contact {
  background-color: var(--secondary-color);
  border-radius: 30px;
  width: 90%;
  padding: 13px;
  font-size: 12px;
  font-weight: 500;
}

#contact:hover {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}
.footer-img {
  margin-bottom: 50px;
}

.footer-headers {
  margin-bottom: 30px;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#footer-image {
  width: 15%;
}

.footer-head {
  margin-bottom: 10px;
}
.link1 {
  margin-bottom: 5px;
}
.footer-line {
  text-align: center;
}

.footer-tabs {
  margin: 40px 40px 40px 170px;
}

.link-img {
  margin-right: 7px;
  width: 11px;
}

#icons {
  color: var(--secondary-color);
  font-size: 20px;
}

/* Revealing section as you scroll */

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@media (max-width: 1024px) {
  header {
    padding: 20px;
  }

  #main-btn {
    width: 65%;
  }

  article {
    flex-direction: column;
  }
  .article-img,
  .article-content {
    text-align: center;
    padding: 20px;
  }
  .cards {
    grid-template-columns: auto auto;
  }

  .article-content h1,
  .article-content small {
    width: 100%;
  }

  .article-content h6 {
    display: none;
  }
  /* .img-class {
    flex: 1;
  }

  .main-text {
    flex: 1;
  } */
}

@media (max-width: 815px) {
  .header-links {
    margin: 0px;
    top: 60px;
    right: 100%;
    width: 75%;
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;

    position: fixed;
    transition: right 0.2s ease-in-out;

    border-radius: 5px;
    z-index: 1;
  }

  .header-links .active {
    background-color: transparent;
    color: black;
    padding: 20px 0px;
    margin: 0px;
    font-size: 18px;
    border: none;
  }

  .header-links a:hover {
    color: var(--secondary-color);
  }
  .header-links a {
    display: block;
    padding: 20px 0px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    background-color: transparent;
    border: none;
  }
  .header-links a:first-of-type {
    margin-top: 60px;
  }

  header {
    padding: 20px 25px;
    z-index: 2;
  }

  body {
    background: #fef8ec;
  }

  article {
    justify-content: center;
    position: relative;
    height: auto;
    margin: -3px 0px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .overlay-filter {
    position: absolute;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    top: 58px;
  }

  .partners-gallery {
    grid-template-columns: auto auto;
  }

  .main-text {
    width: 100%;
    flex: none;
  }
  .article-content h1,
  .article-content small {
    width: 100%;
    margin-top: 15px;
  }

  #article-image {
    width: 100%;
  }
  .article-content h6 {
    margin-top: 100px;
    font-size: medium;
    display: none;
  }

  .partners {
    padding: 20px;
  }
  #main-btn {
    width: 25%;
  }

  .show {
    right: 25%;
  }
  #footer-image {
    width: 35%;
  }

  footer {
    padding: 20px 60px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
  }

  .contact-Details3 {
    grid-template-columns: auto;
  }

  .contact-Details {
    width: 100%;
  }

  #contact {
    margin-top: 20px;
    width: 120%;
  }

  .footer-line {
    display: none;
  }

  .footer-tabs {
    margin: 40px 0px;
  }
  .main-content {
    font-size: 15px;
  }

  .show {
    display: block;
  }
  .wealth {
    display: block;
    margin-left: 18px;
  }
}

@media (max-width: 550px) {
  .footer-grid {
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
  }

  .contact-Details3 {
    width: 80%;
  }
  #contact {
    width: 95%;
  }

  .cards,
  .partners-gallery {
    grid-template-columns: auto;
  }

  .footer-tabs {
    border-top: 1px solid white;
    padding: 20px 0px;
  }
}
