@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(55, 102, 153, 1);
  --secondary-color: rgba(0, 174, 255, 1);
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-fontsize: 36px;
  --secondary-fontsize: 18px;
  --content-fontsize: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

.header-links a {
  color: black;
  margin-right: 15px;
  font-family: var(--primary-font);
  font-weight: 500;
  transition: 0.5;
}

.header-links a:hover {
  color: var(--secondary-color);
}
button {
  outline: none;
  border: none;
  font-family: var(--secondary-font);
  padding: 15px;
  cursor: pointer;
  font-size: var(--content-fontsize);
  transition: 0.5s;
}

.header-links .active {
  border-radius: 30px;
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  padding: 12px 35px;
  font-size: var(--content-fontsize);
  color: white;
  font-weight: 700px;
}

.active:hover {
  color: var(--secondary-color);
  background: white;
  border: 1px solid var(--secondary-color);
}

.wealth {
  display: none;
}
#header-img {
  width: 60%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 24px 100px 20px 170px;
  align-items: center;
  position: sticky;
  top: 0px;
  background: white;
}

main {
  display: flex;
  margin: 30px 70px 70px 80px;
  font-family: var(--primary-font);
  font-weight: 400;
  justify-content: space-around;
  letter-spacing: 0.02rem;
}

#main-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  padding: 12px 35px;
  width: 50%;
  color: white;
  font-weight: 500;
  font-family: var(--secondary-font);
  letter-spacing: 0.02rem;
  box-shadow: 1px 2px 3px gainsboro;
}

#main-btn:hover {
  color: var(--secondary-color);
  background-color: white;
  border: 1px solid var(--secondary-color);
}

#main-img {
  width: 100%;
}

.main-text {
  width: 38%;
  margin-top: 60px;
}

.main-text h1 {
  margin: 10px 0px;
  color: black;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: x-large;
}
.main-text h5 {
  font-size: var(--content-fontsize);
  font-weight: 700;
  color: var(--secondary-color);
}

article {
  margin: 0px auto;
}

article h1 {
  margin-bottom: 25px;
  color: rgba(34, 35, 38, 0.37);
}

#article-link {
  text-align: end;
  display: block;
  margin: 30px 0px;
  color: var(--secondary-color);
  text-decoration: underline;
  font-family: var(--secondary-font);
  font-size: small;
}

#design {
  margin-right: 10px;
  background: rgba(49, 215, 227, 0.84);
  color: white;
  padding: 25px;
}
#frontend {
  margin-right: 10px;
  background: rgba(88, 121, 238, 0.84);
  color: white;
  padding: 25px;
  /* width: 15%; */
}
#backend {
  margin-right: 10px;
  background: rgba(226, 88, 238, 0.84);
  color: white;

  padding: 25px;
}
#machine {
  margin-right: 10px;
  background: rgba(238, 168, 88, 0.84);
  color: white;
  padding: 25px;
}

.contact-Details {
  width: 45%;
  line-height: 25.5px;
}

.contact-Details3 {
  display: grid;
  grid-template-columns: auto auto;
}

footer {
  padding: 20px 20px 20px 60px;
  background-color: var(--primary-color);
  color: white;
  margin-top: 30px;
  font-family: var(--primary-font);
  font-size: 14px;
}

#contact {
  background-color: var(--secondary-color);
  border-radius: 30px;
  width: 90%;
  padding: 13px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

#contact:hover {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}
.footer-img {
  margin-bottom: 50px;
}

.footer-headers {
  margin-bottom: 30px;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#footer-image {
  width: 15%;
}

.footer-head {
  margin-bottom: 10px;
}
.link1 {
  margin-bottom: 5px;
}
.footer-line {
  text-align: center;
}

.footer-tabs {
  margin: 40px 40px 40px 170px;
}

.link-img {
  margin-right: 7px;
  width: 11px;
}

#icons {
  color: var(--secondary-color);
  font-size: 20px;
}

/* Revealing section as you scroll */

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@media (max-width: 1100px) {
  header {
    padding: 20px;
  }

  footer {
    margin-top: 40vh;
  }
  #main-btn {
    width: 65%;
  }
  .footer-line {
    display: none;
  }

  .section--hidden {
    opacity: 1;
    transform: translateY(8rem);
  }
}

@media (max-width: 815px) {
  .header-links {
    margin: 0px;
    top: 75px;
    right: 100%;
    width: 75%;
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;

    position: fixed;
    transition: right 0.2s ease-in-out;

    border-radius: 5px;
    z-index: 1;
  }

  .header-links .active {
    background-color: transparent;
    color: black;
    padding: 20px 0px;
    margin: 0px;
    font-size: 18px;
    border: none;
  }

  .header-links a {
    display: block;
    padding: 20px 0px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    background-color: transparent;
    border: none;
  }
  .header-links a:first-of-type {
    margin-top: 60px;
  }
  .header-links a:hover {
    color: var(--secondary-color);
  }

  header {
    padding: 20px 25px;
    z-index: 2;
  }

  body {
    background: #fef8ec;
  }

  main {
    justify-content: center;
    position: relative;
    height: auto;
    margin: 30px 0px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  .overlay-filter {
    position: absolute;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    top: 76px;
  }

  article {
    text-align: center;
  }
  .article-btn {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    width: 100%;
    flex: none;
  }
  .main-image {
    width: 100%;
    margin-top: 20px;
  }

  #main-img {
    width: 65%;
  }

  #main-btn {
    width: 30%;
  }

  .show {
    right: 25%;
  }
  #footer-image {
    width: 35%;
  }

  footer {
    padding: 20px 60px;
    margin-top: auto;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
  }

  .contact-Details3 {
    grid-template-columns: auto;
  }

  .contact-Details {
    width: 100%;
  }

  #contact {
    margin-top: 20px;
    width: 120%;
  }

  .footer-line {
    display: none;
  }

  .footer-tabs {
    margin: 40px 0px;
  }
  .main-content {
    font-size: 15px;
  }

  .show {
    display: block;
  }
  .wealth {
    display: block;
    margin-left: 18px;
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
  }

  .contact-Details3 {
    width: 80%;
  }
  #contact {
    width: 95%;
  }

  .footer-tabs {
    border-top: 1px solid white;
    padding: 20px 0px;
  }

  #main-btn {
    width: 50%;
  }
}
