@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(55, 102, 153, 1);
  --secondary-color: rgba(0, 174, 255, 1);
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-fontsize: 36px;
  --secondary-fontsize: 18px;
  --content-fontsize: 16px;
}

.my-card .cards {
  flex-basis: 25%;
  padding: 30px;
  margin: 0px 15px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  background: rgba(0, 174, 255, 0.14);
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.my-card .cards h4 {
  margin: 20px 0px 10px 0px;
}

.my-card .cards small {
  display: block;
  margin: 50px 0px 10px 0px;
}

.my-card .cards p {
  text-transform: capitalize;
}

.my-card .cards:nth-of-type(2) {
  background: rgba(55, 102, 153, 1);
  color: white;
}

.my-card {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
}

.cards img {
  width: 20%;
  border-radius: 50%;
}
a {
  color: black;
  margin-right: 15px;
  font-family: var(--primary-font);
  font-weight: 500;
  transition: 0.5;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}
/* button {
  outline: none;
  border: none;
  font-family: var(--secondary-font);
  padding: 15px;
  color: white;
  border-radius: 10px;
  font-size: var(--content-fontsize);
  font-weight: 700;
  transition: 0.5s;
} */

.active {
  border-radius: 30px;
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  padding: 12px 35px;
  font-size: var(--content-fontsize);
  color: white;
  font-weight: 700px;
}

.active:hover {
  color: var(--secondary-color);
  background: white;
  border: 1px solid var(--secondary-color);
}

.wealth {
  display: none;
}
#header-img {
  width: 60%;
}

/* .img-class {
  flex: 1;
} */

header {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
  align-items: center;
}

.contact-Details {
  width: 45%;
  line-height: 25.5px;
}

.contact-Details3 {
  display: grid;
  grid-template-columns: auto auto;
}

footer {
  padding: 20px 20px 20px 60px;
  background-color: var(--primary-color);
  color: white;
  margin-top: 30px;
  font-family: var(--primary-font);
  font-size: 14px;
}

#contact {
  background-color: var(--secondary-color);
  border-radius: 30px;
  width: 90%;
  padding: 13px;
  font-size: 12px;
  font-weight: 500;
}

#contact:hover {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}
.footer-img {
  margin-bottom: 50px;
}

.footer-headers {
  margin-bottom: 30px;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#footer-image {
  width: 15%;
}

.footer-head {
  margin-bottom: 10px;
}
.link1 {
  margin-bottom: 5px;
}
.footer-line {
  text-align: center;
}

.footer-tabs {
  margin: 40px 40px 40px 170px;
}

.link-img {
  margin-right: 7px;
  width: 11px;
}

#icons {
  color: var(--secondary-color);
  font-size: 20px;
}

/* SLider */

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: var(--secondary-color);
  opacity: 1;
}

section {
  font-family: var(--secondary-font);
  margin-left: 170px;
  width: 43%;
  margin-top: 50px;
}

section p {
  color: rgba(98, 101, 106, 1);
}
section h5 {
  color: var(--secondary-color);
}

section h2 {
  margin: 10px 0px;
}

@media (max-width: 915px) {
  .my-card .cards:nth-of-type(3) {
    display: none;
  }

  .my-card .cards {
    flex-basis: 40%;
  }
}

@media (max-width: 815px) {
  .header-links {
    margin: 0px;
    top: 75px;
    right: 100%;
    width: 75%;
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;

    position: fixed;
    transition: right 0.2s ease-in-out;

    border-radius: 5px;
    z-index: 1;
  }

  .my-card .cards:nth-of-type(2),
  .my-card .cards:nth-of-type(3) {
    display: none;
  }
  .my-card .cards {
    width: 56%;
    margin: 0px auto;
  }

  .my-card {
    flex-direction: column;
  }

  section {
    font-family: var(--secondary-font);
    margin-left: 0px;
    width: auto;
    padding: 20px 25px;
  }
  .active {
    background-color: transparent;
    color: black;
    padding: 20px 0px;
    margin: 0px;
    font-size: 18px;
    border: none;
  }

  a {
    display: block;
    padding: 20px 0px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    background-color: transparent;
    border: none;
  }
  .header-links a:first-of-type {
    margin-top: 60px;
  }

  header {
    padding: 20px 25px;
    justify-content: space-between;
  }

  body {
    background: #fef8ec;
  }

  main {
    justify-content: center;
    position: relative;
    height: auto;
    margin: 30px 0px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .overlay-filter {
    position: absolute;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    top: 76px;
  }

  article {
    text-align: center;
  }
  .article-btn {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    width: 100%;
    flex: none;
  }
  .main-image {
    width: 100%;
    margin-top: 20px;
  }

  #main-img {
    width: 65%;
  }

  #main-btn {
    width: 30%;
  }

  .show {
    right: 25%;
  }
  #footer-image {
    width: 35%;
  }

  footer {
    padding: 20px 60px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
  }

  .contact-Details3 {
    grid-template-columns: auto;
  }

  .contact-Details {
    width: 100%;
  }

  #contact {
    margin-top: 20px;
    width: 120%;
  }

  .footer-line {
    display: none;
  }

  .footer-tabs {
    margin: 40px 0px;
  }
  .main-content {
    font-size: 15px;
  }

  .show {
    display: block;
  }
  .wealth {
    display: block;
    margin-left: 18px;
  }
}
@media (max-width: 450px) {
  .my-card .cards {
    width: 83%;
  }

  .slider__btn {
    top: 86%;
    font-size: 38px;
  }
  .slider__btn--right {
    right: 20%;
  }
  .slider__btn--left {
    left: 22%;
  }
}
